body{

    background-color: khaki;
    text-align: center;
}

#div{

    background-color: lightgreen;
    border-radius: 20;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom:10%;
}